.place__link {
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  transition: opacity ease-out 0.5s;
}

.place__link:hover {
  opacity: 0.8;
}
